<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact Us</h2>
                    <h3 class="section-subheading text-white">When opportunity knocks. We answer.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p class="lead text-center text-white">
                        For business inquiries please contact us at business@creatorcrew.org or <a href="https://discord.gg/tU2Snmy" target="_blank">join the Discord</a> and message us directly!
                    </p>
                </div>
            </div>
        </div>
    </section>
