<!-- Services Section -->
    <section id="join">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Join the Community</h2>
                    <h3 class="section-subheading text-muted">Whether you want to chat, watch live, or check in later. It's all here.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <a href="#" target="_blank"><img src="/img/C2 Logo Emerald.png" /></a>
                    <h4 class="service-heading">The Crew</h4>
                    <p class="lead" style="margin-bottom: 5px;">Be</p>
                    <p class="text-muted">See the look</p>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <a href="https://discord.gg/tU2Snmy" target="_blank"><img src="/img/beit.png" /></a>
                    <h4 class="service-heading">Discord</h4>
                    <p class="lead" style="margin-bottom: 5px;">Join</p>
                    <p class="text-muted">Join the family</p>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <a href="#" target="_blank"><img src="/img/liveit.png" /></a>
                    <h4 class="service-heading">Twitch</h4>
                    <p class="lead" style="margin-bottom: 5px;">Live</p>
                    <p class="text-muted">Watch us live</p>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <a href="#" target="_blank"><img src="/img/watchit.png" /></a>
                    <h4 class="service-heading">YouTube</h4>
                    <p class="lead" style="margin-bottom: 5px;">Watch</p>
                    <p class="text-muted">Watch it later</p>
                </div>
                <!--
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                    <a href="#" target="_blank"><img src="/img/wearit.png" /></a>
                    <h4 class="service-heading">Merch</h4>
                    <p class="lead" style="margin-bottom: 5px;">Wear it.</p>
                    <p class="text-muted">Our merch store is currently still being built. You'll be wearing it soon.</p>
                </div>
                -->
            </div>
        </div>
    </section>
